.tw-follow-card {
    width: 350px;
    font-size: 1.2rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .tw-follow-card header {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  
  .tw-follow-card header div {
    display: flex;
    flex-direction: column;
  }
  
  .tw-follow-card header span {
    opacity: 0.6;
  }
  
  .tw-follow-card img {
    width: 55px;
    height: 55px;
    margin-right: 10px;
    border-radius: 360px;
    -webkit-border-radius: 360px;
    -moz-border-radius: 360px;
    -ms-border-radius: 360px;
    -o-border-radius: 360px;
  }
  
  .tw-follow-card button {
    font-size: 1rem;
    margin-left: 15px;
    border: none;
    border-radius: 360px;
    -webkit-border-radius: 360px;
    -moz-border-radius: 360px;
    -ms-border-radius: 360px;
    -o-border-radius: 360px;
    padding: 6px 16px;
    font-weight: 800;
    cursor: pointer;
  }

.small {
  font-size: 0.5rem;
  margin: 0px;
  margin-top: 3px;
  opacity: 0.7;
}

.button--follow {
  background-color: #d8e4e4;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.button--follow:hover {
  background-color: #71d3d3;
}

.button--unfollow {
  background-color: #eec0c0;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.button--unfollow:hover {
  background-color: #e75959;
}